---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        AB-style
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hi! I am AB-style, a code lover.

      Besides programming, I like dancing, traveling and music.
    </p>
    <p>
      Find me on
      <a href={"https://github.com/ab-programming/"} target="_blank">GitHub</a>,
      <a href={"https://gitee.com/ab-programming"} target="_blank">Gitee</a>, 
      <a href={"https://www.zhihu.com/people/ab--style"} target="_blank">知乎</a>, 
      <a href={"https://juejin.cn/user/2766812208704983?share_token=59f763a1-1ee3-405f-a9a4-c221fe3021af"} target="_blank">掘金</a> and
      <a href={"https://space.bilibili.com/1499441129"} target="_blank">哔哩哔哩</a>.
      My WeChat public account is "编程AB", <a href="mailto:abprogramming007@gmail.com">abprogramming007@gmail.com</a>
    </p></br>
    <p class="text-center whitespace-nowrap overflow-auto">
      <strong class="py-1 px-2">Below is the homepage section</strong>
    </p>
  </div>
</section>
